<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/footer.css">
    <title></title>
</head>

<body>
    <footer id="footer">
        <div id="content-footer">
            <div>
                <ul>
                    <li>
                        <a href="#">Facturación</a>
                    </li>
                    <li>
                        <a href="#">Términos y condiciones</a>
                    </li>
                    <li>
                        <a href="#">Política de cookies</a>
                    </li>
                    <li>
                        <a href="#">Aviso de privacidad</a>
                    </li>
                    <li>
                        <a href="#">Métodos de pago</a>
                    </li>
                </ul>
            </div>
            <br> <br><br>

            <div id="redessociales">
                <a href="https://www.facebook.com/Marlok-Reposter%C3%ADa-105547631906643" target="_blank">
                    <span>Facebook</span>
                    <i class="fab fa-facebook"></i> </a>
                <a href="https://www.facebook.com/Marlok-Reposter%C3%ADa-105547631906643" target="_blank">
                    <span>Instagram</span>
                    <i class="fab fa-instagram"></i> </a>
            </div>
            <div style="align-self: center;">
                <div>
                    <h2> © Derechos Reservados Marlok Pasteleria & Reposteria, S.A. de C.V. </h2>
                </div>
            </div>

        </div>
    </footer>


</body>

</html>