<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../css/footer.css">

</head>
    <footer class="footer">
        <div class="l-footer">
            <h1>
                Vaccination
            </h1>
            <p> Our goal is to help the world free from the ongoing pandemic</p>
        </div>
        <ul class="r-footer">
            <div class="info">
                <li class="about">
                    <h2> About</h2>
                    <ul class="box">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Feature</a></li>
                        <li><a href="#">News & Blog</a></li>
                    </ul>
                </li>
                <li class="features">
                    <h2> Company</h2>
                    <ul class="box">
                        <li><a href="#">How We Work?</a></li>
                        <li><a href="#">Capital</a></li>
                        <li><a href="#">Security</a></li> 
                    </ul>
                </li>
                <li class=support>
                    <h2> Support</h2>
                    <ul class="box">
                        <li><a href="#">FAQs  </a></li>
                        <li><a href="#">Support Center</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </li>
            </div>
            
        </ul>
        <div class="b-footer">
            <p> @2021 Vaccinnation. All rights reserved </p> 
            <ul class="box-term">
                <a href="#">Terms & Agreements  </a> &nbsp;&nbsp;&nbsp;
                &nbsp;
                <a href="#">Privacy Policy</a>
            </ul>
        </div>
    </footer> 
</html>